@media only screen and (min-width: 40.063em) {
    @supports (grid-area: auto) {
        #content {
            display: grid;
            grid-template-columns: minmax(100px, 200px) 5fr;
            height: 100%;
            grid-row-gap: 5px;
            grid-column-gap: 15px;
            grid-template-rows: 100px 220px minmax(50px, 150px) 4fr 50px;
        }
        #content aside {
            border-radius: 0px 127px 50px 146px;
            flex-direction: column;
        }
        #content nav {
            border-top-right-radius: 50px;
            border-bottom-left-radius: 20px;
        }
        #content section .message {
            display: grid;
            grid-template-columns: 60px 8fr;
            grid-template-rows: 30px 1fr;
        }
        #content section .new-message {
            display: grid;
            grid-template-columns: 60px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 30px 1fr 10px 30px;
        }
        #content section .new-message textarea {
            grid-row: 1/3;
            grid-column: 2/10;
            width: auto;
        }
        #content section .new-message .send {
            grid-row: 4/5;
            grid-column: 9/10;
        }
        header {
            display: grid;
            grid-template-columns: 5fr 3fr 2fr;
            grid-column: 1/3;
            align-items: center;
            grid-gap: 5px;
            position: static;
            height: auto;
        }
        header > .title,
        input[type="search"][placeholder="Search"],
        ul.socialicons {
            position: static;
        }
        header ul.socialicons {
            display: grid;
            grid-template-areas: "twitter instagram";
            grid-gap: 10px;
            justify-content: center;
        }
        header ul.socialicons li a.twitterb {
            grid-area: "twitter";
        }
        header ul.socialicons li a.instagram {
            grid-area: "instagram";
        }
        nav ul {
            flex-direction: column;
        }
        nav ul li {
            flex: 1 1 1.5em;
        }
    }
}
